(
    tasks: [
        (
            id: "diffdrive_odom",
            type: "diffdrive_odometry::DiffDriveOdometry",
        ),
        (
            id: "iekf",
            type: "iekflocalizer::IEKF",
        ),
    ],
    cnx: [
        (
            src: "diffdrive_odom",
            dst: "iekf",
            msg: "common::ChassisSpeeds",
        ),
    ],
)
